<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>airship</name>
  <version>1.0.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Henry Kotze</name>
    <email>henry@flycloudline.com</email>
  </author>
  <description>Model of the WindReiter SB-324-300 blimp, alongside its aerodynamic coefficients: https://www.windreiter.com/shop/sb-324-300/</description>
</model>
